{{/*
    Extract both globals and <release-name> from .Values,
    and merge them, giving precedence to release specific values.
*/}}
{{ merge (.Values | get .Release.Name  dict) (.Values | get "globals"  dict) | toYaml }}